[Desktop Entry]
Encoding=UTF-8
Name=rdlibrary
Comment=Rivendell Library
Exec=rdlibrary
Terminal=false
Type=Application
Icon=/usr/share/rivendell/rdlibrary.xpm
Categories=Application;AudioVideo;
